@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f4f6; /* gray-100 */
  --foreground: #4b5563; /* gray-600 */
  --gridColor: #d1d5db; /* gray-300 */
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #252525;
    --foreground: #b4b4b4;
    --gridColor: #444;
  }
}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
